.form-table th.title { font-size: 140%; font-weight: bold; }

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

#ui-datepicker-div {
	font-size: 90%;
	font-weight: bold;
}

.postbox label {
	padding-right: 5px;
}

.form-field input[type="text"][name="price"] { width: 200px; }
